.navbar-light {
    background-color: lightgrey !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black !important;
  }
  
  .navbar-light .navbar-brand,
  .navbar-light .navbar-toggler-icon {
    color: black !important;
  }